@font-face {
    src : url("../fonts/Mayeka\ Bold\ Demo.otf");
    font-family: 'Mayeka';
}
@font-face {
    src : url("../fonts/Miracle\ Personal\ use.otf");
    font-family: 'Miracle';
}
@font-face {
    src : url("../fonts/Pinkerston.otf");
    font-family: 'Pinkerston';
}
@font-face {
    src : url("../fonts/Fragille-Reguler.otf");
    font-family: 'Fragille';
}
@font-face {
    font-family: 'Infinite_Stroke';
    src: url("../fonts/Infinite_Stroke.otf");
}
@font-face {
    font-family: 'Cafe24Simplehae';
    font-weight: normal; 
    font-style: normal; 
    src: url(https://cdn.jsdelivr.net/gh/webfontworld/cafe24/Cafe24Simplehae.woff2) format('woff2');
    font-display: swap;
}
/* layout */
#contents {}
#section1 {
    height: 100vh;
    position: relative;
    z-index: 8000;

}
#section2 {
    height: 3000px;
    position: relative;
    z-index: 7000;
    background: #000;
}
#section3 {
    height: 3000px;
    background: #000;
    position: relative;
    z-index: 6000;
}
#section4 {
    height: 2000px;
    background: red;
    position: relative;
    z-index: 5000;
}
#section5 {
    height: 3000px;
    background: blue;
    position: relative;
    z-index: 6000;
}
#section6 {}

/* sec1 */
#section1 {
    position: relative;
}
#section1 .bg {
    position: absolute;
    left: 0; top: 0;
    display: flex;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
#section1 .bg > div {
    height: 100vh;
    width: 16%;
    background: #000;
    background-image: linear-gradient(120deg, #000000 0%, #e0e0e0 100%);
}
.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 7vw;
    height: 100vh;
    font-family: 'Zen Tokyo Zoo', cursive;
    text-transform: uppercase;
    text-align: center;
}
.text-box {
    background: #000;
    border-radius: 2%;
    border-top-left-radius: 60% 10%;
    padding: 10vw 10vw;
    box-sizing: border-box;
    
}
.text-box h1 {
    color: #fff;
    font-weight: normal;
}


/* section3 */
#section3 {}
#section3 h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16vw;
    line-height: 1.5;
    padding-left: 2vw;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin-bottom: 20vw;
}
#section3 h2::after {
    content: '05';
    position: absolute;
    right: -2vw;
    top: 2vw;
    font-size: 2vw;
    font-weight: normal;
}

.site-wrap {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}
.site-wrap .site {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20vw;
}
.site-wrap .site .left {
    flex: 0 0 60%;
    /* background: #333; */
}
.site-wrap .site .left img {
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
}
.site-wrap .site .left .bro {
    border: 1px solid #fff;
    height: 500px;
    margin: 5%;
    margin-left: 0;
    border-radius: 10px 10px 0 0;
}
.site-wrap .site .left .bro h3 {
    border-bottom: 1px solid #fff;
    color: #fff;
    padding: 10px;
}


.site-wrap .site .right {
    flex: 0 0 40%;
}
.site-wrap .site .right h3 {
    font-size: 8vw;
    -webkit-text-fill-color: #000;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px #fff;
    font-family: 'Mayeka';
    line-height: 1;
    margin-left: -10vw;
}
.site-wrap .site .right dt,
.site-wrap .site .right dd {
    color: #fff;
    font-size: 18px;
    font-family: 'Cafe24Simplehae';
}
.site-wrap .site .right dt {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}
.site-wrap .site .right .btn {
    background: #fff;
    color: #000;
    font-size: 2vw;
    font-family: 'Mayeka';
    text-transform: uppercase;
    padding: 5px 30px 0 30px;
    margin-top: 50px;
    float: right;
}
.site-wrap .site .center {
    width: 100%;
    height: 500px;
}
.site-wrap .site .center h3 {
    color: #fff;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 8vw;
   
    font-family: 'Mayeka';
    letter-spacing: -2px;
}
.site-wrap .site .center .code {
    background: rgb(105, 56, 56);
    height: 300px;
    margin-top: -30px;
}


.sec4 {
    position: fixed;
    left: 0; top: 0;
    width: 10%;
    height: 100vh;
    background: #ccc;
    overflow: hidden;
}
.sec4 > div {
    float: left;
    width: 400px;
    height: 100vh;
}
.sec4 > div:nth-child(1){
    background: #111;
}
.sec4 > div:nth-child(2){
    background: #222;
}
.sec4 > div:nth-child(3){
    background: #333;
}
.sec4 > div:nth-child(4){
    background: #444;
}